
header div{
	background-color: #CD5C5C ;
	height: 50px;
	color: #ECF0F1 ;
  padding-right: 0px;

	font-size: 25px;

}
footer div{
  background-color: #CD5C5C ;
  height: 50px;
  color: #ECF0F1 ;
  font-size: 25px;

}

.btn-primary {
  color: #fff;
  background-color: #CD5C5C;
  border-color: #CD5C5C;
}
.signin{
	margin-top: 200px;
	margin-right: 300px;
	margin-left: 300px;
}

.box2{
margin-bottom: 0px;
 padding-left: 0px;
 margin-left: 0px;
 padding-bottom: 0px;
}

body{
background-image: url(../images/pexels-photo-247786.jpeg);
	}


.box1{
 margin-bottom: 0px;    
  }
 input[type="file"] {
  padding-left: 20px;

}
input[type="date"] {
  padding-left: 20px;

}
.btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #f8f9fa;
    height: 30px;
    font-size: 12px;
    font: icon;
  
}
img{
  height: 200px;
  width: 200px;
}

#unique{
    padding: 10px;
    margin-left: 100px;
    background: #CD5C5C; 
    display: table;
    color: #fff;
     }



input[type="file"] {
  padding-left: 20px;

}
input[type="date"] {
  padding-left: 20px;

}
.btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #f8f9fa;
    height: 30px;
    font-size: 12px;
    font: icon;
}
label{
  color: #CD5C5C;
}