{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload Prescription</title>
    <!-- Bootstrap -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'doctor/css/login-dr-update.css' %}">
    

    <style>
      .navbar{
        margin-bottom:0;
        border-radius:0;
      }
    </style>
  </head>
  <body>
   <header>
  <div > <p style="margin-right: 20px; margin-left: 70px;"><strong>MedID</strong><small> (A project on patient's Medical History)</small> <a href="home.html" class="btn btn-primary float-right" style="margin-top: 5px;"><strong>Logout</strong></a></p>
  </div>
  </header>   
   <div class="container-fluid box2">
    <div class="row ">
        <div class="col-md-3 container-fluid ">
          <div class="jumbotron text-center box1">
            <div>
              <h1 style="color:black"><strong>Doctor's Portal</strong></h1>
              <br/>
          
              <ul class="nav flex-column ">
                <div class="text-left ">
                  <hr>
               <li><a href="#" style="color:#CD5C5C"><strong>View Patient's History</strong></a></li>
                <hr>
                <li><a href="#" style="color:#CD5C5C"><strong>View Previous Prescriptions</strong></a></li>
                <hr>
                <li><a href="#" style="color:#CD5C5C"><strong>View Previous Reports/X-Ray</strong></a></li>
                <hr>
                <li><a href="#" style="color:#CD5C5C"><strong>Update Presciption</strong></a></li>
                <hr>
                <li><a href="#" style="color:#CD5C5C"><strong>Update Report/X-Ray</strong></a></li>
                <hr>
                <li><a href="#" style="color:#CD5C5C"><strong>Update Body Analysis</strong></a></li>
                <hr>
                
                </div>
                
              </ul>
              <br>
              <br>
              <br>
              <hr>
              <form action="scan-qrcode/" method="GET" enctype="multipart/form-data">
               
                <!-- {% csrf_token %} -->
                  <label> <div class="text-left" style="color:#CD5C5C;margin-left:55px"><strong>Upload MedID</strong></div>
                    
                  

                   <br><input type="file" name = 'image'> <br><br>
                   <input type="submit" name="" value="Upload" style="margin-left:70px;background-color:#CD5C5C ;color: white;">
                   </label> 
              </form>
              <hr>

            </div>
          </div>
        </div>
        <div class="col-md-9 c2">
        <div class="jumbotron text-center signup ">
            <div>
        	<div class="container signup">
        		<h1>Upload Patient's Prescriptions</h1><b4/><br>
        <form>
                <div style="padding-left: 100px;" >
                     <label ><span style="margin-right: 50px;"> Enter Date</span> <input type="date" name="date" >
                      
                   </label> </div>
                
                  <label id="unique" style="margin-left: 150px"> Upload Presciption
                   <input type="file" size="60" > <button id="Upload" type="button" class="btn btn-light">Upload</button>
                   </label> 
                   <div class="form-group">
                    <br>
          <label>Enter Medicine Salt</label>
          <input type="text" class="form-control" placeholder="Enter Medicine Salt">
          <br>
          <label>Enter Medicine Dosage</label>
          <input type="text" class="form-control" placeholder="Enter Medicine Dosage">
          <br>
          <label>Enter Medication Duration</label>
          <input type="text" class="form-control" placeholder="Enter Medication Duration">
        </div>
                   
            </form>
</div>
              
            </div>
        </div>  
  
        
    </div>
  </div>


      

 
  
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
  </body>
</html>
